## Template
# tplt
snippet tplt
	
	/*
	* Name: Simon Ardfors (simar543)
	*/

	#include <algorithm>
	#include <cassert>
	#include <cmath>
	#include <cstdio>
	#include <cstdlib>
	#include <cstring>
	#include <functional>
	#include <iomanip>
	#include <iostream>
	#include <sstream>
	#include <map>
	#include <set>
	#include <queue>
	#include <stack>
	#include <string>
	#include <utility>
	#include <vector>

	using namespace std;
	typedef vector<int> vi;

	int main(int argc, char* argv[])
	{
		$0
		return 0;
	}
# for
snippet for
	for (int ${2:i} = 0; $2 < ${1:count}; $2${3:++}) {
		$0
	}
# while
snippet wh
	while (${1:1}) {
		$0
	}
snippet wht
	while (true) {
		$0
	}
