snippet main
	\documentclass{article}
	\usepackage{graphicx} % Required for inserting images

	\title{$0}
	\author{Simon Ardfors}

	\begin{document}

	\maketitle

	\section{Introduction}

	\end{document}

